{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    {% if pagination %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% for post in pagination.items %}
            <div class="card mb-3 shadow-sm">
                <div class="card-header">
                    <span class="float-left">#{{ post.id }}</span>
                    <span class="float-right">{{ post.createdAt|date("d.m.Y в h:i") }}</span>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{ post.content }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="rate-section col-md-6">
                            <button class="btn btn-link btn-rate" data-post="{{ post.id }}" data-type="dislike">-
                            </button>
                            <span class="ml-2 mr-2 rate-score">{{ post.rate }}</span>
                            <button class="btn btn-link btn-rate" data-post="{{ post.id }}" data-type="like">+</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-link float-right btn-complaint"
                                    data-toggle="modal"
                                    data-target="#complaintModal"
                                    data-post="{{ post.id }}"
                            >
                                Пожаловаться
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% include('index/complaint.html.twig') %}

    {% else %}
        Записи не найдены
    {% endif %}

{% endblock %}
